// Generals
* {
    font-family: var(--font-consolas);
    color: var(--white);
    line-height: 1.4;
    box-sizing: border-box;
    font-size: 13px;
}
  
html, body, #root {
    width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--onyx);
}

a {
    color: var(--white);
    &:hover {
        text-decoration: none;
        color: var(--white);
    }
}

// Canvas
canvas {
    cursor: grab;
    position: relative;
}

// Headings
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

// Button
button {
    border-radius: 6px;
    margin: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    position: relative;
    &:hover {
        background-color: var(--deepocean);
        opacity: 1;
        svg path {
            fill: var(--sky);
        }
    }
    &:focus, &:focus-visible {
        outline: none;
    }
    &:after {
        content: attr(data-hover);
        position: absolute;
        background-color: black;
        height: auto;
        width: max-content;
        padding: 3px 8px;
        top: -50%;
        left: 80%;
        border-radius: 6px;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    &:hover:after {
        opacity: 1;
    }
}

// Scroll
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--rhino);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    background: var(--onyx);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--darksteel);
}

// General modifiers 
.--disabled {
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.1;
}