:root {
    --onyx: #242424;
    --steel: #4F5B68;
    --gray: #808080;
    --bone: #ffffffde;
    --white: #ffffff;
    --ocean: #0B8DBE;
    --radius-primary: 7px;
    --font-consolas: 'Consolas'  
}
  