.panelElements {
    height: 50px; 
    width: 300px;
    position: fixed;
    bottom: 12px;
    right: 10px;
    background-color: var(--steel);
    border-radius: var(--radius-primary);
    padding: 0 10px;
    transition: height ease-in 0.1s;
    z-index: 100;
    &__head {
        display: flex;
        align-items: center;
        margin: 3px auto;
    }
    &__body {
        opacity:0;
        transition: opacity 0.5s ease-in;
        height: 0;
        max-height: 48vh;
        padding: 5px 10px 0 0;
    }
    &--open {
        height: 66vh; 
        padding-bottom: 60px;
        .panelElements__body {
            height: auto;
            opacity:1;
        }
        button.btnAdd {
            display: block;
        }
    }

    @media (max-width: 768px) { 
        & {
            top: 50px;
            opacity: 0.9;
            width: 67%;
            left: 10px;
        } 
    }

    & .btnAdd {
        background-color: var(--white);
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: none;
        svg path {
            fill: var(--onyx);
        } 
    }
}