.panelControls {
    height: 50px;
    position: fixed;
    bottom: 12px;
    left: 10px;
    background-color: var(--steel);
    border-radius: var(--radius-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;

    @media (max-width: 768px) { 
        & {
            overflow-x: scroll;
            overflow-y: hidden;
            width: 94%;
        }
    }
}