.panelControls {
    height: 50px;
    position: absolute;
    bottom: calc(12px - 50vh);
    left: calc(10px - 50vw);
    background-color: var(--steel);
    border-radius: var(--radius-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;

    // @media (max-width: 768px) { 
    //     & {
    //         overflow-x: scroll;
    //         width: 94%;
    //     }
    // }
}