.origin {
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30px;
        height: 1px;
        margin-left: -15px;
        background-color: var(--white);
        z-index: 1;
    }
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 30px;
        width: 1px;
        margin-top: -15px;
        background-color: var(--white);
        z-index: 1;
    }
}