.itemElement {
    display: flex;
    align-items: center;
    background: var(--rhino);
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border-radius: var(--radius-primary);
    p {
        margin: 0 0 0 5px;
        padding: 0;
    }
}

.--opacity {
    opacity: 0.5;
}


