.panelZoom {
    width: 200px;
    height: 40px;
    position: fixed;
    bottom: 12px;
    left: 10px;
    background-color: var(--steel);
    border-radius: var(--radius-primary);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}