.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    z-index:1;
    
    &__logo {
        height: 90%;
        box-sizing: border-box;
        padding: 3px;
    }

    &__codelink {
        display: flex;
        align-items: center;
    }
}
